object/src/com/itheima/xml/persondtd.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (name,age)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT age (#PCDATA)>                                                                                                                                                                                                                      v
<!ATTLIST student id CDATA #REQUIRED>